---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import AgentDetailPage from '@/components/react/agent-detail-page';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - Agent Details"} description={SITE_DESCRIPTION}>
	<Navbar active={"servers"} />
	<main class="min-h-screen bg-zinc-950 pt-20">
		<div class="py-8">
			<AgentDetailPage base={"{{base_path | safe}}"} client:only="@astrojs/react" />
		</div>
	</main>
</Layout>
